#!/sbin/openrc-run

command="/usr/local/p-ui/p-ui"
command_background=true
pidfile="/run/p-ui.pid"
description="p-ui Service"
procname="p-ui"
depend() {
    need net
}
start_pre(){
    cd /usr/local/p-ui
}
reload() {
  ebegin "Reloading ${RC_SVCNAME}"
  kill -USR1 $(cat $pidfile)
  eend $?
}